* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(104 104 104);
  background-image: url("./assets/img/sunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  color: #FBFBFB
}

header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__icon {
  width: 1em;
  height: 1em;
  font-size: 5em;
}